h3.home-content {
            font-size: 220%;
            text-align: center;
            
        }

div#container{
    margin: 0 auto;
    height:20em;
    min-width: 20em;
    max-width: 30em;
}

div#N1_t{
    background-size: contain|cover;
    margin: 0 auto;
    height: auto;
    width: auto;
}
div#N2_t{
    background-size: contain|cover;
    margin: 0 auto;
    height: auto;
    width: auto;
}
div#N1_p{
    background-size: contain|cover;
    margin: 0 auto;
    height: auto;
    width: auto;
}
div#N2_p{
    background-size: contain|cover;
    margin: 0 auto;
    height: auto;
    width: auto;
}